<!DOCTYPE html>
html(lang="en")
	head
		include meta-datas.pug
		title 
		include ogmetas.pug
		link(rel="stylesheet", href="css/style.css")
	body
		//- include box.pug
		include footer.pug
		include js-resource.pug